body {
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo {
  cursor: pointer;
}
.strike {
  text-decoration: line-through;
}

